<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row class="ion-align-items-center">

      <ion-col>txt1 </ion-col>
      <ion-col>txt 2</ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4 <br>
          # <br>
          # <br>
          #
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>


</ion-content>
