<ion-header>
  <ion-toolbar>
    <ion-title>customer {{email}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      
    </ion-col>
    <ion-col size="auto" *ngIf="validUser">
      <ion-card>
        <img class="customerImg" src="{{avatar}}" />
        <ion-card-header>
          <ion-card-subtitle>{{email}}</ion-card-subtitle>
          <ion-card-title>{{firstName + ' ' + lastName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="auto" *ngIf="!validUser">
      El usuario no existe
    </ion-col>
    <ion-col>
      
    </ion-col>
  </ion-row>

</ion-content>
